<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
    <test verbose="2" preserve-order="true" name="/Users/apple/Desktop/IdeaProjects/GradlePractic/src/main/java"/>
        <test name="Test" parallel="classes" thread-count="4">
            <parameter name="url" value="https://gorest.co.in/public/v2"></parameter>
        <classes>

            <class name="com.testexm.test.page"></class>
            <class name="com.testexm.test.postTest"></class>
            <class name="com.testexm.test.ToDoTest"></class>
            <class name="com.testexm.test.UserTest"></class>

            
            <class name="com.testexm.test.data"/>


            
        </classes>
    </test>
</suite>